@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.navbar-main li {
    list-style: none;
    display: inline-block;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
}

.list {
    position: relative;
    top: 0.5cm;;
    left: 27cm;
    margin: 0;
    padding: 0;
    width: 27%;
}

.list li {
    margin: 10px; 
}

.navbar-main li:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.logo {
    position: relative;
    top: 1.5cm;
    left: 2cm;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.web-3 {
    width: 26.5cm;
    position: relative;
    top: 2cm;
    left: 2cm;
}

ul li {
    display: flex;
}

.cardNews {
    position: relative;
    width: 8.5cm;
    left: 29cm;
    top: -14.7cm;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.cardNews h1, h2 {
    color: white;
    padding-left: 0.5cm;
    font-size: 19px;
}
.cardNews h1 {
    font-size: 30px;
    cursor: default;
    color: hsl(35, 77%, 62%);
}

.cardNews p {
    color: white;
    font-size: 12.8px;
    padding-left: 0.5cm;
    width: 6.5cm;
    color: hsl(237, 20%, 82%);
}

.cardNews p, h1 {
    cursor: default;
}

.cardNews h2:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.section-one, .section-two, .section-three {
    border-bottom: 1px solid hsl(236, 13%, 42%);;
}

.section-three {
    height: 3.5cm;
}

.title-content {
    font-size: 70px;
    width: 10cm;
    position: absolute;
    padding-left: 2cm;
    padding-top: 1cm;
}

.div-description {
    padding-left: 2cm;
    position: relative;
    top: 3cm;
    left: 17cm;
    width: 10cm;
    font-size: 20px;
    color: hsl(236, 13%, 42%);
}

.readMore {
    position: relative;
    top: 4.5cm;
    height: 1.5cm;
    width: 5cm;
    left: 19cm;
    font-weight: 700;
    background-color: hsl(5, 85%, 63%);
    border-style: none;
    cursor: pointer;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: inherit;   
}

.readMore:hover {
    background-color: hsl(5, 85%, 73%);
}

.img-one {
    position: absolute;
    top: 23cm;
    padding-left: 2cm;
    width: 4cm;
}

.ordered-number {
    color:hsl(237, 20%, 82%);
    font-size: 50px;
}

.one {
    display: grid;
    left: 6.5cm;
    top: -7.8cm;
    position: relative;
}

.extra-description-one {
    position: relative;
    top: -8cm;
    left: 6.5cm;
    width: 6cm;
}

.extra-title-one {
    color: black;
    position: relative;
    top: -8.5cm;
    left: 6cm;
    font-size: 25px;
}