@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html {
    font-family: 'Inter', sans-serif;
    background-color: hsl(36, 100%, 99%);
}

.navbar-main li {
    list-style: none;
    display: inline-block;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
}

.list {
    position: relative;
    top: 0.5cm;;
    left: 27cm;
    margin: 0;
    padding: 0;
    width: 27%;
}

.list li {
    margin: 10px; 
}

.navbar-main li:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.logo {
    position: relative;
    top: 1.5cm;
    left: 2cm;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.web-3 {
    width: 26.5cm;
    position: relative;
    top: 2cm;
    left: 2cm;
}

ul li {
    display: flex;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }